---
import ThemeToggleButton from "./ThemeToggleButton";

const showMoreSection = true;
---

{showMoreSection && <h2 class="heading">More</h2>}
<ul><li>TODO fill</li></ul>
<div style="margin: 2rem 0; text-align: center;">
  <ThemeToggleButton client:visible />
</div>

<style></style>
