---
type Props = {
  path: string;
};
---

<footer>Copyright &copy; 2023 Joel Mühlena & Lars Rüter</footer>

<style>
  footer {
    margin-top: auto;
    padding: 2rem;
    text-align: center;
    border-top: 3px solid var(--theme-divider);
  }
</style>
